h2
  | Sign up for Viaboards!
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  .field.form-group
    = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email Address'
    
  .field.form-group
    = f.text_field :first_name, autofocus: true, class: 'form-control', placeholder: 'First Name'

  .field.form-group
    = f.text_field :last_name, autofocus: true, class: 'form-control', placeholder: 'Last Name'
    
  .field.form-group
    = f.text_field :public_name, autofocus: true, class: 'form-control', placeholder: 'Username'


  .field.form-group
    - if @minimum_password_length
      em
        | (
        = @minimum_password_length
        |  characters minimum)
    = f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password'
  .field.form-group
    = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Confirm Password'
  .actions
    = f.submit "Sign up", class: 'btn btn-primary btn-block'
= render "devise/shared/links"
