#sign-in-modal.modal.fade.user-session-modal aria-labelledby="Sign up for Viaboards" role="dialog" tabindex="-1" 
  .modal-dialog role="document" 
    .modal-content
      .modal-header
        button.close aria-label="Close" data-dismiss="modal" type="button" 
          span aria-hidden="true"  &times;
      .modal-body
        .row
          .col-sm-4.left
            = image_tag 'https://www.via-trm.com/assets/marketing/logo.png', class: 'img-responsive logo-img'
          
          .col-sm-8.text-center
            = render partial: 'devise/sessions/new'

#sign-up-modal.modal.fade.user-session-modal aria-labelledby="Sign in to Viaboards" role="dialog" tabindex="-1" 
  .modal-dialog role="document" 
    .modal-content
      .modal-header
        button.close aria-label="Close" data-dismiss="modal" type="button" 
          span aria-hidden="true"  &times;
      .modal-body
        .row
          .col-sm-4.left
            = image_tag 'https://www.via-trm.com/assets/marketing/logo.png', class: 'img-responsive logo-img'
          
          .col-sm-8.text-center
            = render partial: 'devise/registrations/new'

javascript:
  $(document).on('turbolinks:load', function() {
    var signUpModal = $('#sign-up-modal'),
        signInModal = $('#sign-in-modal'),
        signUpBtn = $('.sign-up-btn'),
        signInBtn = $('.sign-in-btn');
    
    signUpBtn.on('click', function(e) {
      e.preventDefault();
      signUpModal.modal('show');
    });
    
    signInBtn.on('click', function(e) {
      e.preventDefault();
      signInModal.modal('show');
    })
  })
