.col-sm-2.col-xs-4.logo-container
  = link_to root_path do
    = image_tag 'https://www.via-trm.com/assets/marketing/logo.png', class: 'img-responsive logo-img'

.col-sm-10.col-xs-8.text-right.menu
  - if current_user
    = link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn btn-link'
  - else
    = link_to 'Sign In', '#', class: 'btn btn-link sign-in-btn'
    = link_to 'Sign Up', '#', class: 'btn btn-primary sign-up-btn'
