h2
  | Sign in to Viaboards!
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field.form-group
    = f.email_field :email, autofocus: true, placeholder: 'Email Address', class: 'form-control'
  .field
    = f.password_field :password, autocomplete: "off", placeholder: 'Password', class: 'form-control'
  .actions
    br
    = f.submit "Sign In", class: 'btn btn-primary btn-block'
= render "devise/shared/links"
