= link_to category_post_path(category_id: post.category.id, id: post.id), class: 'html-link' do
  .row
    .col-sm-2.text-center.hidden-xs
      span.timestamp = post.created_at
    .col-sm-8.col-xs-12
      h4.post-title = post.title
      p.post-author
        span = post.published_by
        span.visible-xs.inline = " on #{post.created_at}"
      p.post-summary = post.body.truncate(100)
      
      
    .col-sm-2.text-right.hidden-sm.hidden-xs
      .btn.btn-primary.read-more Read Post
