.row
  .col-sm-3.text-center
    img.img-responsive.img-circle.gravatar src="#{@post.author.gravatar_link}" alt="#{@post.author.public_name}"
    p = @post.published_by
    p.timestamp= @post.created_at
    
  .col-sm-8
    h1.category-title = @post.title

    p = @post.body

    h3.category-title Comments
    - @post.comments.each do |comment|
      = render partial: 'comments/comment', locals: {comment: comment.decorate}

    - if current_user
      = bootstrap_form_for @post.comments.new, url: category_post_comments_path(category_id: @post.category.id, post_id: @post.id) do |f|
        = f.text_area :body, label: 'Add a Comment'
        = f.submit 'Add Comment', class: 'btn btn-primary'
    - else
      .text-center
        h5 You need to create an account to comment
        = link_to 'Create Account', '#', class: 'btn btn-primary sign-up-btn'
        = link_to 'Sign In', '#', class: 'btn btn-link sign-in-btn'
    
