/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'variables';
@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
  background-image: url('https://www.via-trm.com/assets/marketing/hero.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  font-weight: 300;
}

.logo-container {
  padding-left: 0;

  .logo-img {
    max-height: 75px;
    transition: .3s ease all;

    &:hover {
      transform: translateX(10px);
    }
  }
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;

  .menu {
    padding-top: 10px;
  }
  .btn-link {
    color: $white;
  }
}

.page-body {
  background-color: $white;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 30px auto;
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: $brand-primary;
}

.category-title {
  border-bottom: 2px solid $light-grey;
  margin-bottom: 20px;
  padding-bottom: 5px;

  h2 {
    display: inline-block;
  }

  .new-post-btn {
    margin-top: 15px;
  }
}

.html-link {
  color: $text-color;
  text-decoration: none;
  transition: .5s ease all;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;

  &:hover,
  &:active,
  &:focus:active {
    color: $text-color;
    text-decoration: none;
    background-color: #f6f6f6;

    .read-more {
      opacity: 1;
      margin-top: 15px;
      background-color: $teal;
      border: 0;
    }
  }

  .read-more {
    opacity: 0;
    margin-top: 5px;
    transition: .5s ease all;
    background-color: $teal;
    border: 0;
  }
}

.user-session-modal {
  h2 {
    margin-top: 0;
  }

  .left {
    background-color: $brand-primary;
  }

  .modal-dialog {
    width: 80%;
    max-width: 700px;
  }
  .modal-header {
    border: 0;
  }

  .shared-links {
    margin-top: 40px;
  }
}

.post-title {
  margin-top: 0;
  color: $teal;
  margin-bottom: 0;
}

.post-author {
  margin-top: 0;
  margin-bottom: 5px;
}

.post-summary {
  color: $medium-grey;
  margin-bottom: 0;
}

.view-all-posts {
  margin-top: 20px;
  display: inline-block;
}

@media screen and(max-width: 767px) {
  .inline.visible-xs {
    display: inline !important;
  }

  .category-title {
    text-align: center;
  }

  .pull-right.view-all-posts {
    float: none !important;
    text-align: center;
    margin: 5px auto;
    display: block;
  }
}

.gravatar {
  margin: 20px auto 15px auto;
}
