$brand-primary: #de2c61;
$white: #fff;
$light-grey: #e4e4e4;
$medium-grey: #7e7e7e;
$teal: #76ccce;

$font-family-sans-serif: 'Nunito', Helvetica, Arial, sans-serif;
$text-color: #484848;

$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;
