- @categories.each do |category|
  .row
    .col-xs-12
      div.category-title
        h2 = category.name
        .pull-right.view-all-posts = link_to category.view_all_text, category_path(category)
      - if category.most_recent_posts.any?
        = render partial: 'categories/recent_posts', locals: {category: category}
      - else
        h5.text-center There are no posts for this category.
  
