.row
  .col-xs-12
    .category-title
      h2 = @category.name
      .pull-right
        - if current_user
          = link_to 'New Post', new_category_post_path(category_id: @category.id), class: 'btn btn-primary new-post-btn'
        - else
          = link_to 'New Post', '#', class: 'btn btn-primary new-post-btn sign-up-btn'
.row
  .col-xs-12
    - if @category.posts.any?
      = render partial: 'categories/all_posts', locals: {category: @category}
    - else
      h5.text-center There are no posts for this category.
