doctype html
html
  head
    title
      | ViaBoards
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta name="viewport" content="width=device-width, initial-scale=1"
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Nunito:300,400'
  body
    
    .container
      .row.header
        = render partial: 'shared/header'
      
    .container.page-body
      .row
        .col-xs-12
          = yield

  - if !current_user
    = render partial: 'shared/devise_modals'
